body {
  background-color: lightblue;
  text-align: center;
}

.wrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.circle {
  width: 100px;
  padding: 50px 0;
  line-height: 0;
  margin: 60px auto;
  background-color: pink;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: 1s 1s ease-out;
}

.circle:hover {
  background-color: salmon;
  transform: rotate(360deg);
}
